/* <editor-fold desc="Fonts"> */
@font-face {
    font-family: 'Apparat';
    src: url('/fonts/Apparat-Extralight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apparat';
    src: url('/fonts/Apparat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Apparat';
    src: url('/fonts/Apparat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apparat';
    src: url('/fonts/Apparat-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* </editor-fold> */

html, body {
    font-family: 'Apparat', Arial, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: "– ";
}

nav, img {
    user-select: none;
}

footer {
    margin-top: 13rem;
}

.dark-bg {
    background: #232323;
}

.orange-bg {
    background-color: #BF7C49;
}

.almost-white {
    color: #E5E5E5;
}

.logo-navbar {
    width: 180px;
}

.active-page,
.active-page:hover,
.active-page:focus {
    color: #ffd600;
}

.image-header {
    position: relative;
    min-height: 120px;
    background-color: black;
    color: white;
}

.navbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.muted {
    color: #8a8a8a;
}

.talking-head-container {
    height: 700px;
}

.talking-head-controls {
    z-index: 10;
    user-select: none;
}

.talking-head-control {
    width: 180px !important;
}

.talking-head-control:hover,
.talking-head-control:focus {
    cursor: pointer;
}

.control-active {
    border-color: #ffd600 !important;
    color: #ffd600 !important;
}

.resize-link:hover,
.resize-link:focus {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.01);
}

.hidden-card {
    display: none;
}

.accent-btn:hover,
.accent-btn:focus {
    background: #ffd600;
}

.nav-arrow {
    width: 180px;
}

@media (min-width: 768px) {
    .nav-arrow {
        width: 250px;
    }
}

.dashed-divider {
    border: none;
    border-top: 5px dashed #000;
    opacity: 0.9;
}

.footer-text {
    max-width: 25ch;
}

/* small and below */
.logo-footer {
    width: 270px;
}

/* medium and up */
@media (min-width: 768px) {
    .logo-footer {
        width: 230px;
    }
}

/* extra large and up */
@media (min-width: 1200px) {
    .logo-footer {
        width: 330px;
    }
}

.social-icon {
    width: 30px;
    height: 30px;
}

.competence-card-img-with-gif {
    aspect-ratio: 636 / 391;
    background: white;
    overflow: hidden;
}

/* extra small and up */
.competence-lead-text {
    max-width: 20ch;
}

.competence-partner-logo {
    max-width: 270px;
    height: auto;
}

/* small and up */
@media (min-width: 576px) {
    .competence-lead-text {
        max-width: 43ch;
    }

    .competence-partner-logo {
        max-height: 80px;
        width: auto;
    }

    .competence-partner-row > .col:nth-child(4),
    .competence-partner-row > .col:nth-child(5) {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

.contact-content {
    margin-top: 10rem;
    margin-bottom: 60vh;
}

.contact-address {
    pointer-events: none;
}

.custom-tooltip {
    --bs-tooltip-bg: rgba(80, 80, 80);
    --bs-tooltip-color: white;
}

.datenschutz-text {
    max-width: 50ch;
}

.impressum-wrapper {
    padding-bottom: 250px !important;
}

.impressum-text-box {
    max-width: 42ch;
}

.impressum-figure {
    right: 0;
    height: 450px;
    z-index: 3;
    margin-top: 15px;
}

.thought-circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    border: 2px solid #000;
    z-index: 2;
}

.thought-circle-lg {
    width: 56px;
    height: 56px;
    bottom: -65px;
    right: 185px;
}

.thought-circle-sm {
    width: 32px;
    height: 32px;
    bottom: -100px;
    right: 155px;
}

/* extra large and up */
@media (min-width: 1200px) {
    .impressum-wrapper {
        padding-right: 300px;
    }

    .impressum-figure {
        right: -250px;
    }

    .thought-circle-lg {
        bottom: -65px;
        right: -65px;
    }

    .thought-circle-sm {
        bottom: -100px;
        right: -95px;
    }
}