/* <editor-fold desc="Fonts"> */
@font-face {
    font-family: 'Apparat';
    src: url('/fonts/Apparat-Extralight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apparat';
    src: url('/fonts/Apparat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Apparat';
    src: url('/fonts/Apparat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apparat';
    src: url('/fonts/Apparat-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* </editor-fold> */

html, body {
    font-family: 'Apparat', Arial, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}

.dark-bg {
    background: #232323;
}

.orange-bg {
    background-color: #BF7C49;
}

.logo-navbar {
    width: 180px;
}

.active-page,
.active-page:hover,
.active-page:focus {
    color: #ffd600;
}

.image-header {
    position: relative;
    min-height: 120px;
    background-color: black;
    color: white;
}

.navbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.muted {
    color: #8a8a8a;
}

.resize-link:hover,
.resize-link:focus {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.01);
}

.hidden-card {
    display: none;
}

#load-more:hover,
#load-more:focus {
    background: #ffd600;
}

.nav-arrow {
    width: 180px;
}

@media (min-width: 768px) {
    .nav-arrow {
        width: 250px;
    }
}

.dashed-divider {
    border: none;
    border-top: 5px dashed #000;
    opacity: 0.9;
}

/* small & below */
.logo-footer {
    width: 270px;
}

/* medium and up */
@media (min-width: 768px) {
    .logo-footer {
        width: 230px;
    }
}

/* large and up */
@media (min-width: 992px) {
    .logo-footer {
        width: 330px;
    }
}

.social-icon {
    width: 30px;
    height: 30px;
}